.container{
    position: fixed;

    top: 20%;
    left: 35%;
    height: 40%;
    width: 30%;

    font-size: 16px;
    font-family: arial;
    background-color: white;
    border: cornflowerblue 1px solid;
    border-radius: 5px;
}

.input{
    display: block;
    /*margin-top: ;*/
    height:10%;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;

    border: none;
    border-bottom: cornflowerblue 1px solid;
}

button{
    height: 7%;
    width: 15%;
    margin-left: 25%;
    margin-top: 7%;

    font-size: 14px;
    border: black 1px solid;
    color: white;
    background-color: cornflowerblue;

}

a{
    color: orange;
}

p{
    margin-top:5%;
    text-align: center;
}

.errorMsg{
    color:orange;
    font-weight: bold;
}